{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSV Generator</title>
{#    <link rel="stylesheet" href="{% static 'base_static/base.css' %}">#}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<div class="container-fluid d-flex justify-content-center">
    <header class="d-flex col-6 justify-content-center py-3">
        <ul class="nav nav-pills me-auto">
            <li class="nav-item">
                <a href="http://localhost:8000" class="nav-link" aria-current="page">CSV Generator</a>
            </li>
        </ul>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="{% url 'login' %}" class="nav-link active">Login</a>
            </li>
        </ul>
    </header>
</div>

{% block content %}
{% endblock content %}

</body>
</html>