{% extends "base/base.html" %}
{% block content %}
    <div class="container" style="padding-top: 30px">
        <div class="card" style="min-height: 60vh">
            <div class="card-header" style="height: 60px">
                <div class="col d-flex justify-content-between align-items-center">
                    <h3>Schemas</h3>
                    <a href="{% url 'create_schema' %}" class="btn btn-primary"> Create schema</a>
                </div>
            </div>
            <div class="card-body col-8">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Table</th>
                        <th scope="col">Modified</th>
                        <th class="text-center" scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data_schema in data_schemas %}
                        <tr>
                            <th scope="row">{{ data_schema.id }}</th>
                            <td><a href="{% url 'schema_details' data_schema.id %}">{{ data_schema.title }}</a></td>
                            <td>{{ data_schema.updated }}</td>
                            <td>
                                <div class="btn-group w-100" role="group" aria-label="Basic example">
                                    <button type="button" disabled class="btn btn-secondary">Edit schema</button>
                                    <button type="button" class="btn btn-danger">Delete</button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock content %}