{% extends 'base/base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="col-9">
            <div class="mt-3">
                <h2>{{ schema.title }}</h2>

                <div class="col">
                    <div class="row d-flex">
                        <div class="d-flex border" style="width: 300px">
                            <div class="px-2 py-2">String character:</div>
                            <div class="px-2 py-2">{{ list_dialect.string_character }}</div>
                        </div>
                        <div class="d-flex border" style="width: 300px">
                            <div class="px-2 py-2">Column separator:</div>
                            <div class="px-2 py-2">{{ list_dialect.separator }}</div>
                        </div>


                    </div>
                </div>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Order</th>
                        <th scope="col">Column name</th>
                        <th class="text-center" scope="col">Column type</th>
                    </tr>

                    </thead>
                    <tbody>
                    {% for field in list_fields %}
                        <tr>
                            <th>{{ field.order }}</th>
                            <td>{{ field.data_field_name }}</td>
                            <td class="text-uppercase">{{ field.data_type__data_type }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

        <div class="card  mt-3">
            <div class="card-header">
                <div class="col-12">
                    <div class="row d-flex justify-content-between">
                        <div class="col-6"><h2>Data sets</h2>
                            <form id="data_generation_form" method="POST">
                                {% csrf_token %}
                                <div class="col-6 d-flex flex-column " id="input_data" style="width: 400px">
                                    <label class="mb-1" for="count_of_rows">
                                        <span>Rows:</span>
                                        <input
                                                name="count_of_rows"
                                                class="form-control mb-1"
                                                id="count_of_rows"
                                                placeholder="100"
                                                value="100"
                                                min="1"
                                                type="number">
                                    </label>
                                    <button type="button" onclick="generate_rows()" class="btn btn-primary"> Generate
                                        data
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">

            </div>
            <table id="main_table" class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Created</th>
                    <th scope="col" class="text-center">Ready</th>
                    <th class="text-center" scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>

                {% for file in list_files %}
                    <tr id="data_row_file_id_{{ file.id }}">
                        <td style="vertical-align: middle;">{{ file.id }}</td>
                        <td style="vertical-align: middle;">{{ file.created | date:"d/m/Y H:i" }}</td>
                        <td style="vertical-align: middle;">
                            {% if file.is_generated %}
                                <div class="d-flex w-100 justify-content-center">
                                    <div id="status_id_{{ file.id }}" class="download_sign"
                                         style="height: 30px;width: 30px;background-color: #198754; border-radius: 50%"></div>
                                </div>
                            {% else %}
                                <div class="d-flex w-100 justify-content-center">
                                    <div class="download_sign"
                                         style="height: 30px;width: 30px;background-color: #dc3545; border-radius: 50%"></div>
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            <div class="d-flex w-100 justify-content-center">
                                <div class="btn-group">

                                    {#                                <button class="btn btn-danger">DELETE</button>#}
                                    {% if file.is_generated %}
                                        <button id="download_button_id_{{ file.id }}" class="btn btn-primary">
                                            <a id="download_href_id_{{ file.id }}" class="text-light link-host"
                                               style="text-decoration: none"
                                               href="http://alereo.pythonanywhere.com/media/{{ file.csv_file }}">DOWNLOAD</a>
                                        </button>
                                    {% else %}
                                        <button disabled class="btn btn-primary">
                                            <a id="download_href_id_{{ file.id }}" class="text-light link-host"
                                               style="text-decoration: none"

                                               href="#">DOWNLOAD</a>
                                        </button>
                                    {% endif %}

                                </div>
                            </div>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    {% include 'scripts_in_templates/script_iso.html' %}



    <div class="canvas" style="display: none">
        <table>
            <tr id="empty_row">
                <td id="file_id_field"></td>
                <td id="file_created_field"></td>
                <td>
                    <div class="d-flex w-100 justify-content-center">
                        <div id="status_id_"
                             style="height: 30px;width: 30px;background-color: #dc3545; border-radius: 50%"></div>
                    </div>
                </td>
                <td>
                    <div class="d-flex w-100 justify-content-center">
                        <div class="btn-group">
                            <button id="download_button_id_" disabled class="btn btn-primary">
                                <a id="download_href_id_" class="text-light" style="text-decoration: none"
                                   href="#">DOWNLOAD</a>
                            </button>
                        </div>
                    </div>

                </td>
            </tr>
        </table>
    </div>
{% endblock content %}